*{
    padding: 0;
    margin: 0;
}
.page-one{
    background-image: url(./images/background\ img.jpeg);
    width: 100%;
    height: 200%;
    background-size:cover;
    /* position: relative; */
}

input{
    height:60px;
}
.image-one{
    max-width:30%;
    height: auto;
    border-radius: 100%;
    /* margin-bottom: 1rem; */
}
.image-text{
    position: relative;
}
.card {
    background-color: white;
    position: absolute;
    width: 410px;
    left: -150px;
    top: 150px;
}
/* .button-line{
    color: aliceblue;
    text-decoration-color: blue;
}
.button-line :hover{
    color: rgb(19, 19, 22);
} */

.Social-icon{
    font-size: 20px;
    cursor: pointer;
}
.Social-icon :hover{
    color: red;
}
.icon-bar{
    position: fixed;
    bottom:20px;
    transform: translateY(-50%);
    right: 1.0rem;
    background-color: rgb(37,211,102);
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    
}


